// Typography
.h1 {
  @apply text-4xl font-extrabold leading-tight tracking-tighter;
}

.h2 {
  @apply text-3xl font-extrabold leading-tight tracking-tighter;
}

.h3 {
  @apply text-3xl font-bold leading-tight;
}

.h4 {
  @apply text-2xl font-bold leading-snug tracking-tight;
}

.highlight {
  position: relative;
  z-index: 1;

  &:before {
    content: "";
    background: #63b3ed;
    opacity: 0.7;
    position: absolute;
    z-index: -1;
    top: 68%;
    left: 2%;
    height: 0.8rem;
    width: 100%;
    border-radius: 1px;
  }
}

@screen md {
  .h1 {
      @apply text-5xl;
  }

  .h2 {
      @apply text-4xl;
  }
}

// Buttons
.btn,
.btn-sm {
  @apply font-medium inline-flex items-center justify-center border border-transparent rounded leading-snug transition duration-150 ease-in-out;
}

.btn {
  @apply px-8 py-3 shadow-lg;
}

.btn-sm {
  @apply px-4 py-2 shadow;
}
